.client-reviews{
    background-color: #F3F4F6;
}
.reviews{
    text-align: center;
}
.reviews h3{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.reviews img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 10px 0;
}
.reviews p{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}
.reviews h2{
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}

/*  Other service are avialable  */
.service-center-text h2{
text-align: center;
color: #111;
font-size: 25px;
text-transform: capitalize;
font-weight: 700;
margin-bottom: 30px;
}
.service{
    width: 380px;
}
.service img{
    width: 380px;
    height: auto;
    border-radius: 5px;
}
.otherService{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.service h5{
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}
.service h6{
    color: #151515;
    font-size: 14px;
    font-weight: 500;
}
